<% include partials/header %>

  <section class="hero">
    <div class="hero__bg-image"></div>
    <div class="hero__text-content">
      <h1 class="hero__title">About Ambient Forum</h1>
    </div>
  </section>
  
  <section class="about container">
      <div>
          <div>
            <p>Ambient Forums is an online community based around music that focuses on tonal and atmospheric compositional elements over traditional conventions.  To get started, simply create a username and password and join in on the discussion.  Although we encourage and appreciate general discussion, please keep posts and comments somewhat released to the topic.</p>
            <p>  Ambient Forum was created by <a href="https://github.com/mclausaudio" target="_blank">Michael Claus</a> in 2018.  It uses <a href="https://nodejs.org/en/" target="_blank">NodeJS</a>, <a href="https://expressjs.com/" target="_blank">ExpressJS</a> and <a href="https://www.mongodb.com/" target="_blank">MongoDB</a> on the backend, and uses <a href="https://foundation.zurb.com/" target="_blank">Foundation for sites</a>, <a href="https://github.com/postcss/postcss" target="_blank">PostCSS</a> and <a href="https://gulpjs.com/" target="_blank">GulpJS</a> on the frontend.  The git repository can be found <a href="https://github.com/mclausaudio/ambientforum" target="_blank">here</a>.</p>
        </div>
      </div>
      <img src="/images/oval94.jpg" class="cell medium-4 float-right" style="height:400px; width:400px;">
  </section>