<% include ./partials/header %>

<form class="callout text-center register-form" action="/register" method="POST">
  <h2>Become A Member</h2>
  <div>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <input class="button expanded" type="submit" value="Sign up">
</form>