<% include ../partials/header %>

<h1></h1>

<div class="container">
    <div class="show">
        <div class="show__individual-post">
            <h4 class="show__title"><%= post.title %></h4>
            <p class="show__date">Date</p>
            <img class ="show__image"src="<%= post.image %>">
            <p class="show__text"> <%= post.text %></p>
            <!--<a class="button" href="#">Read On</a>-->
        </div>
    </div>
</div>