.card {
    
    
    
    &-divider {
        padding:.2rem;
    }
    
    &-container {
        width:100%;
    }
    
    &--padding {
        padding: .7rem;
    }
    
    &__button {
        display:block;
    }
}