.navbar {
    background-color:#fff;
    width:100%;
    height:3rem;
    padding:0 4rem;
    position: relative;
    display: flex;
    align-items:center;
    justify-content:space-between;
    
    &__logo {
        font-weight: 200;
        font-size:2rem;
    }
    
    &__nav {
        padding-top:12px;
        list-style-type: none;
        display:flex;
        
        & li {
            padding-right:3rem;
        }
        
        & li:last-child {
            padding-right:0;
        }
        
    }
    
    
}
    
    